<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Full Slider - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/portfolio.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">360 LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link active" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>First Slide</h3>
              <p>This is a description for the first slide.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Second Slide</h3>
              <p>This is a description for the second slide.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Third Slide</h3>
              <p>This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
<!--     <section class="section-one">
      <div class="container-fluid text-center">
        <h2 class="section-one-title">Designed to Make Your Portfolio Look More Powerful</h2>
        <p class="section-one-text">Consectetur adipisicing elits ed eiusmod tempor cididut labore dolore magna aliqua ua enimad min veniam quis nostrud exercitation ullamco laboris nisi uas aliquip comdo sed consequat duis aute rure dolor reprehenderitn volupta velit esse cillumad minim veniam quis.</p>
      </div>
    </section> -->

    <!--Project Section-->
    <section class="project-section">
      <div class="auto-container">
          <!--Section Title-->
          <div class="sec-title centered">
              <h2>Designed to Make Your Portfolio Look More <span class="purple-border">Powerful</span></h2>
                <div class="text">Consectetur adipisicing elits ed eiusmod tempor cididut labore dolore magna aliqua ua enimad min veniam quis nostrud exercitation ullamco laboris <br> nisi uas aliquip comdo sed consequat duis aute rure dolor reprehenderitn volupta velit esse cillumad minim veniam quis.</div>
                <div class="logo-separator">360</div>
            </div>
            
            <!--MixitUp Galery-->
            <div class="mixitup-gallery">
                
                <!--Filter-->
                <div class="filters text-center clearfix">
                  
                  <ul class="filter-tabs filter-btns clearfix">
                        <li class="active filter" data-role="button" data-filter="all">All</li>
                        <li class="filter" data-role="button" data-filter=".business">Branding</li>
                        <li class="filter" data-role="button" data-filter=".coaching">Logo</li>
                        <li class="filter" data-role="button" data-filter=".financial">illustration</li>
                        <li class="filter" data-role="button" data-filter=".investment">Video</li>
                    </ul>
                    
                </div>
                
                <div class="filter-list row clearfix">
          
                    <!--Gallery Block-->
                    <div class="gallery-block mix all col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box">
                              <img src="images/gallery/1.jpg" alt="">
                                <div class="overlay-box">
                                  <div class="overlay-inner">
                                        <div class="content">
                                            <a href="projects-single.html" class="icon"><span class="fa fa-link"></span></a>
                                            <a href="images/gallery/1.jpg" class="icon image-link lightbox-image" data-fancybox-group="example-gallery" title=""><span class="fa fa-search"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block-->
                    <div class="gallery-block mix coaching business all col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box">
                              <img src="images/gallery/2.jpg" alt="">
                                <div class="overlay-box">
                                  <div class="overlay-inner">
                                        <div class="content">
                                            <a href="projects-single.html" class="icon"><span class="fa fa-link"></span></a>
                                            <a href="images/gallery/2.jpg" class="icon image-link lightbox-image" data-fancybox-group="example-gallery" title=""><span class="fa fa-search"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block-->
                    <div class="gallery-block mix all investment col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box">
                              <img src="images/gallery/3.jpg" alt="">
                                <div class="overlay-box">
                                  <div class="overlay-inner">
                                        <div class="content">
                                            <a href="projects-single.html" class="icon"><span class="fa fa-link"></span></a>
                                            <a href="images/gallery/3.jpg" class="icon image-link lightbox-image" data-fancybox-group="example-gallery" title=""><span class="fa fa-search"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block-->
                    <div class="gallery-block mix all financial col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box">
                              <img src="images/gallery/4.jpg" alt="">
                                <div class="overlay-box">
                                  <div class="overlay-inner">
                                        <div class="content">
                                            <a href="projects-single.html" class="icon"><span class="fa fa-link"></span></a>
                                            <a href="images/gallery/4.jpg" class="icon image-link lightbox-image" data-fancybox-group="example-gallery" title=""><span class="fa fa-search"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block-->
                    <div class="gallery-block mix coaching financial investment all col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box">
                              <img src="images/gallery/5.jpg" alt="">
                                <div class="overlay-box">
                                  <div class="overlay-inner">
                                        <div class="content">
                                            <a href="projects-single.html" class="icon"><span class="fa fa-link"></span></a>
                                            <a href="images/gallery/5.jpg" class="icon image-link lightbox-image" data-fancybox-group="example-gallery" title=""><span class="fa fa-search"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block-->
                    <div class="gallery-block mix all business financial col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box">
                              <img src="images/gallery/6.jpg" alt="">
                                <div class="overlay-box">
                                  <div class="overlay-inner">
                                        <div class="content">
                                            <a href="projects-single.html" class="icon"><span class="fa fa-link"></span></a>
                                            <a href="images/gallery/6.jpg" class="icon image-link lightbox-image" data-fancybox-group="example-gallery" title=""><span class="fa fa-search"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="text-center">
              <div class="logo-separator">360</div>
            </div>
            
        </div>
    </section>
    <!--End Project Section-->

        <!--We Do Section-->
    <section class="we-do-section grey-bg">
      <div class="auto-container">
          <div class="row clearfix">
              <!--Title Column-->
              <div class="title-column col-md-4 col-sm-12 col-xs-12">
                  <div class="sec-title">
                      <h2>What <span>We Do</span></h2>
                    </div>
                    <div class="text">Adipisicing consectetur elitsd eiusmod tempor cid dolore magna aliqua enimad min veniam quis nosar exercitation ullamco laboris aliquip  comdo ruesed consequat ipsum duis aute dolor.</div>
                    <a href="about.html" class="theme-btn btn-style-one">view more</a>
                </div>
                <!--Services Column-->
                <div class="services-column col-md-8 col-sm-12 col-xs-12">
                  <div class="inner-column">
                        <div class="row clearfix">
                        
                            <div class="services-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                  <a href="services.html" class="overlay-link"></a>
                                    <div class="icon-box">
                                        <span class="icon flaticon-layers-1"></span>
                                    </div>
                                    <h3>Branding</h3>
                                </div>
                            </div>
                            
                            <div class="services-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                  <a href="services.html" class="overlay-link"></a>
                                    <div class="icon-box">
                                        <span class="icon flaticon-monitor"></span>
                                    </div>
                                    <h3>Web Design</h3>
                                </div>
                            </div>
                            
                            <div class="services-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                  <a href="services.html" class="overlay-link"></a>
                                    <div class="icon-box">
                                        <span class="icon flaticon-umbrella"></span>
                                    </div>
                                    <h3>Development</h3>
                                </div>
                            </div>
                            
                            <div class="services-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                  <a href="services.html" class="overlay-link"></a>
                                    <div class="icon-box">
                                        <span class="icon flaticon-graphic-1"></span>
                                    </div>
                                    <h3>Marketing</h3>
                                </div>
                            </div>
                            
                            <div class="services-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                  <a href="services.html" class="overlay-link"></a>
                                    <div class="icon-box">
                                        <span class="icon flaticon-photo-camera"></span>
                                    </div>
                                    <h3>Photography</h3>
                                </div>
                            </div>
                            
                            <div class="services-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                  <a href="services.html" class="overlay-link"></a>
                                    <div class="icon-box">
                                        <span class="icon flaticon-commenting"></span>
                                    </div>
                                    <h3>Social Media</h3>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End We Do Section-->

    <!--Mission Section-->
    <section class="mission-section">
      <div class="auto-container">
          <div class="row clearfix">
              <div class="image-column col-md-6 col-sm-12 col-xs-12">
                  <div class="inner-column">
                      <div class="image">
                          <img src="images/mission.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                  <div class="inner-column">
                      <!--Sec Title-->
                        <div class="sec-title">
                          <h2>Our Mission is to Make You <br><span class="purple-border">Grow Higher</span></h2>
                        </div>
                        <!--Mission Info Tabs-->
                        <div class="mission-info-tabs">
                            <!--Product Tabs-->
                            <div class="prod-tabs tabs-box">
                            
                                <!--Tab Btns-->
                                <ul class="tab-btns tab-buttons clearfix">
                                    <li data-tab="#prod-vision" class="tab-btn active-btn">Our Vision</li>
                                    <!-- <li data-tab="#prod-history" class="tab-btn">Work History</li> -->
                                </ul>
                                
                                <!--Tabs Container-->
                                <div class="tabs-content">
                                    
                                    <!--Tab / Active Tab-->
                                    <div class="tab active-tab" id="prod-vision">
                                        <div class="content">
                                            <div class="text">
                                              <p>Magna aliqua enimad minys veniam quis nosar exercitation ullamco laboris nisi aliquip comd sed consequat duis aute rure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                                            </div>
                                            <!--End Business Info Tabs-->
                                  <!-- <div class="signature"><img src="images/signature.png" alt="" /></div> -->
                                        </div>
                                    </div>
                                    
                                    <!--Tab-->
                                    <!-- <div class="tab" id="prod-history">
                                        <div class="content">
                                            <div class="text">
                                              <p>Magna aliqua enimad minys veniam quis nosar exercitation ullamco laboris nisi aliquip comd sed consequat duis aute rure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!--End Tab-->
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Counter Section-->
            <section class="counter-section">
                <div class="fact-counter">
                    <div class="row clearfix">
                    
                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-4 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3000" data-stop="167">0</span>
                                </div>
                                <h4 class="counter-title">Projects Launched</h4>
                            </div>
                        </div>
                
                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-4 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="24">0</span>
                                </div>
                                <h4 class="counter-title">Branch Offices</h4>
                            </div>
                        </div>
                        
                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-4 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="4000" data-stop="500">0</span>
                                </div>
                                <h4 class="counter-title">Clients Worldwide</h4>
                            </div>
                        </div>
                        
                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-4 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="13">0</span>
                                </div>
                                <h4 class="counter-title">Years Experience</h4>
                            </div>
                        </div>
                
                    </div>
                </div>
            </section>
            <!--End Counter Section-->
            
        </div>
    </section>
    <!--End Mission Section-->

    <!--Testimonial Section-->
    <section class="testimonial-section grey-bg">
      <div class="auto-container">
          <div class="sec-title centered">
              <h2>What <span>People</span> Say</h2>
            </div>
            <div class="single-item-carousel owl-carousel owl-theme">
              <!--Testimonial Block-->
              <div class="testimonial-block">
                  <div class="inner-box">
                      <div class="text">Amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</div>
                        <div class="rating">
                          <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                        <div class="designation">Chris A. beker <span>[CEO - NovaWorks]</span></div>
                    </div>
                </div>
                
                <!--Testimonial Block-->
              <div class="testimonial-block">
                  <div class="inner-box">
                      <div class="text">Amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</div>
                        <div class="rating">
                          <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                        <div class="designation">Chris A. beker <span>[CEO - NovaWorks]</span></div>
                    </div>
                </div>
                
                <!--Testimonial Block-->
              <div class="testimonial-block">
                  <div class="inner-box">
                      <div class="text">Amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</div>
                        <div class="rating">
                          <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                        <div class="designation">Chris A. beker <span>[CEO - NovaWorks]</span></div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Testimonial Section-->

    <!-- Footer -->
    <footer class="py-5 bg-white">
      <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; 360 Bright Media 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/mixitup.js"></script>
    <script src="js/appear.js"></script>
    <script src="js/owl.js"></script>
    <script type="text/javascript">
      //Gallery Filters
    if($('.filter-list').length){
      $('.filter-list').mixItUp({});
    }

    (function($) {
  
  "use strict";
  
  //Fact Counter + Text Count
  if($('.count-box').length){
    $('.count-box').appear(function(){
  
      var $t = $(this),
        n = $t.find(".count-text").attr("data-stop"),
        r = parseInt($t.find(".count-text").attr("data-speed"), 10);
        
      if (!$t.hasClass("counted")) {
        $t.addClass("counted");
        $({
          countNum: $t.find(".count-text").text()
        }).animate({
          countNum: n
        }, {
          duration: r,
          easing: "linear",
          step: function() {
            $t.find(".count-text").text(Math.floor(this.countNum));
          },
          complete: function() {
            $t.find(".count-text").text(this.countNum);
          }
        });
      }
      
    },{accY: 0});
  }


  //Two Item Carousel
  if ($('.single-item-carousel').length) {
    $('.single-item-carousel').owlCarousel({
      loop:true,
      margin:30,
      nav:true,
      smartSpeed: 700,
      autoplay: 4000,
      navText: [ '<span class="fa fa-angle-left"></span>', '<span class="fa fa-angle-right"></span>' ],
      responsive:{
        0:{
          items:1
        },
        600:{
          items:1
        },
        800:{
          items:1
        },
        1024:{
          items:1
        },
        1200:{
          items:1
        }
      }
    });       
  }
  

})(window.jQuery);
    </script>

  </body>

</html>
